﻿@page
@using ShopInvoiceClass;
@model WebApplication2.Pages.IvoiceModel
@{
    ViewData["Title"] = Model.invo.Name;
}
@{
    <div id="data">
        <div id="issuer">
            Nazwa: Sklep Miesny PL<br />
            Ulica: Jasna 43<br />
            NIP: 1222333<br />
            REGON: 1222333<br />
            NR Konta: 12333 12313231123<br />
        </div>
        <div id="reciver">
            Nazwa: @Model.ContractorDate.Name
            <br />
            Ulica: @Model.ContractorDate.Address
            <br />
            NIP: @Model.ContractorDate.NIP
            <br />
            REGON: @Model.ContractorDate.REGON
            <br />
        </div>
    </div>
    <br />
    <br />
    <h1 class="text-center">
        @Model.invo.Name
    </h1>
    <table id="invoice-table" style="width:100%;">
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>PTU</th>
            <th>PKWiU</th>
            <th>ILOSC</th>
            <th>Netto</th>
            <th>Brutto</th>
        </tr>
        @foreach (Product p in Model.invo.InvoiceProducts)
        {
            <tr>
                <td>
                    @p.Id
                </td>
                <td>
                    @DBProducts.GetProduct(p.Id).Name
                </td>
                <td>
                    @DBProducts.GetProduct(p.Id).Price
                </td>
                <td>
                    @p.PTU
                </td>
                <td>
                    @DBProducts.GetProduct(p.Id).PKWiU
                </td>
                <td>
                    @p.Quantity
                </td>
                <td>
                    @(DBProducts.GetProduct(p.Id).Price * p.Quantity)
                </td>
                <td>
                    @((DBProducts.GetProduct(p.Id).Price * p.Quantity) + ((DBProducts.GetProduct(p.Id).Price * p.Quantity) * DBProducts.GetProduct(p.Id).PTU / 100))
                </td>
            </tr>
        }
    </table>
    <br />
    <table style="width:60%;">
        <tr>
            <th>Stawka</th>
            <th>Kwota Netto</th>
            <th>Kwota PTU</th>
            <th>Kwota Brutto</th>
        </tr>
        <tr>
            <td>5</td>
            <td>@Model.sum5</td>
            <td>@(Model.sum5*5/100)</td>
            <td>@(Model.sum5*5/100 + Model.sum5)</td>
        </tr>
        <tr>
            <td>8</td>
            <td>@Model.sum8</td>
            <td>@(Model.sum8*8/100)</td>
            <td>@(Model.sum8*8/100 + Model.sum8)</td>
        </tr>
        <tr>
            <td>23</td>
            <td>@Model.sum23</td>
            <td>@(Model.sum23*23/100)</td>
            <td>@(Model.sum23*23/100 + Model.sum23)</td>
        </tr>
    </table>
    <br/>
    <p>Do Zaplaty Netto: @Model.invo.Charge</p>
    <p>Do Zaplaty Brutto: @((Model.sum23 * 23 / 100 + Model.sum23) + (Model.sum8 * 8 / 100 + Model.sum8) + (Model.sum5 * 5 / 100 + Model.sum5))</p>
}
